#footer {
    position: fixed;
    height: 2rem;
    width: 100%;
    bottom: 0;
    background-color: #000000;
    color: #ffffff;
    padding-top: 1rem;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 185px;
    width: 70%;
}

.socials {
    display: block;
    margin: -3px -40px 0 0;
}

.fbLogo, .instaLogo, .tgLogo, .gmailLogo {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.fbLogo:hover, .instaLogo:hover, .tgLogo:hover, .gmailLogo:hover {
    cursor: pointer;
}

.addLinks {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    font-size: 13px;
    padding-left: 30%;
}

.english {
    padding-top: -1px;
    padding-right: 25px;
    border-right: 1px solid white;
}

.teachers {
    padding-top: -1px;
    padding-right: 25px;
    padding-left: 25px;
    border-right: 1px solid white;
}

.materials {
    padding-left: 25px;
}
